* {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   font-size: 100%;  
 
   transition: all 0.8s; 
}

html {
    width: 100%;
    
}

body {
    min-width: 320px;
    max-width: 1024px;    
    margin: 0 auto;
    background-color: rgb(165, 179, 179);
    overflow: hidden;
}

h2 {
    font: 2.0rem sans-serif;
    color: rgb(221, 201, 149);
    text-transform: uppercase;
    text-align: center;
}

body input {
    display: none;
}

.navigation {
    width: 100%;
    height: 2rem;
   /* border: azure solid 2px; */
   overflow: hidden;
}

#home:checked~.navigation,
#category:checked~.categories,
#author:checked~.quiz-by-author,
#picture:checked~.quiz-by-picture {
    height: 90vh;
}

#menu:checked~.settings {
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

#menu:checked~.navigation .nav-panel .home-label {
    width: 0;
    opacity: 0;
}


section {
    height: 0px;
    width: 100%;
    max-height: 900px;
    overflow: hidden;
}
/*********************************************************************************/
.nav-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    color: rgb(160, 148, 79);
    
}

.nav-panel label {
    width: 120px;    
   background-color: transparent;
   display: flex;  
   cursor: pointer;
   font-weight: 800;
   font-style: normal;
}
 .nav-panel label:hover {
     /* transform: rotate(0.5turn); */
     transform: scale(1.1);
 }

.navigation {      
    font-size: 2rem;
    font-style: italic;
   transition: 1.2s;
   transition: opacity 0.8s;
}

.quiz-type-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
}

.quiz-type-container label {
    display: flex;
    flex-wrap: wrap;
    border-bottom: rgba(189, 196, 196, 0.521) solid 2px;
    ;
}

.quiz-type-container img {
    width: 80%;
    max-width:410px ;
    margin: 5px auto 0 auto;
}
   
/***************************************************************/

.settings {
    position: absolute;
    width: 0px;
    height: 0px;    
    margin: 0 auto;
    top: 1.8rem;
    height: 160vw;
    /* left: 1910px; */
    opacity: 0;    
    overflow: hidden;
    z-index: 1;
    transition:  0.6s;
    transition: opacity 1s;
}

.settings-container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;    
    background-color: rgb(106, 139, 139);
}

.volume-label,
.time-label {
    min-width: 250px;
}

.mute {
    display: block;
    width: 38px;
    height: 31px;
    margin: 0 auto;
    background-image: url(../assets/svg/Volume_btn.svg);
    background-repeat: no-repeat;
}

.progress {
    display: block;
    background: linear-gradient(to right, #24809E 0%, #82CFD0 40%, #C4C4C4 9%, #C4C4C4 100%);
    border: solid 2px #072d3a;
    border-radius: 4px;
    height: 12px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress1 {
    display: block;
    background: linear-gradient(to right, #24809E 0%, #82CFD0 40%, #C4C4C4 9%, #C4C4C4 100%);
    border: solid 2px #24809E;
    border-radius: 4px;
    height: 12px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb,
.progress1::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background:#24809E;
}

.settings-submit {
    display: block;
    width: 150px;
    height: 50px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: coral; 
    font: 1.2rem sans-serif;  
    text-align: center;
    text-shadow: 4px 4px 5px rgb(73, 39, 39);
    color: snow;
}

/******************************************************************/
.categories {
    background-color: rgb(105, 124, 156);
}

.quiz-by-author {
    background-color: rgb(99, 98, 116);
}

.quiz-by-picture {
    background-color: rgb(160, 110, 90);
}


/****************************************FOOTER**********/
footer {
    height: 5vw;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* footer img {
    transform: scale(0.1);
} */
 footer a {
     max-width: 350px;
     display: flex;
     flex-wrap: wrap;
     font: 1em sans-serif;
     color: rgb(70, 67, 67);
     text-align: center;
     text-decoration: none;
 }